# SQL Part 1 Studio

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions. 

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free to reference your notebook.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You work for a small independant book store and you want to increase sales by running various promotions.  Start by becoming more familar with the BooksDB.

## Part 1. BooksDB Questions

<span style="color: rgba(0, 0, 0, 0.87); font-family: -apple-system, system-ui, &quot;Segoe UI&quot;, Helvetica, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;; background-color: rgb(255, 255, 255);">Question 1:&nbsp; Write a query of the books table, returning the TOP 100 results and&nbsp; includes, book_id, authors, title, average_rating.&nbsp; Use an alias for at least one column and in descending order of rating.&nbsp; What is the number one book?</span>

In [1]:
-- return top 100 results
-- SELECT TOP (100) book_id, authors, title AS book_title, average_rating FROM BooksDB.dbo.books ORDER BY average_rating DESC;

--The number one book is The Complete Calvin and Hobbes by Bill Watterson

Question 2: Write a query to find the least popular book.

In [2]:
-- return least popular book
-- SELECT TOP (100) book_id, authors, title AS book_title, average_rating FROM BooksDB.dbo.books ORDER BY average_rating;

--the least popular book is One Night at the Call Center by Chetan Bhagat

Question 3: Which tag is the most popular?

In [3]:
-- return most popular tag

-- SELECT * FROM BooksDB.dbo.book_tags ORDER BY count DESC;

-- Most popular tag is 30574

--SELECT book_id, title, ratings_5  FROM BooksDB.dbo.books ORDER BY ratings_5 DESC;

Question 4: What is the name of the most popular tag?

In [55]:
-- return name of most popular tag
SELECT tag_name FROM BooksDB.dbo.tags WHERE tag_id = 30574;

-- most popular tag is 'to-read'

tag_name
to-read

Question 5: How many books where released in the first decade of 2000?

In [57]:
-- return number of books published in the first decade of 2000

--SELECT * FROM BooksDB.dbo.books;

SELECT SUM(books_count) FROM BooksDB.dbo.books WHERE original_publication_year BETWEEN 2000 AND 2010

--Number of books published was 165,004

(No column name)
165004

Question 6: How many book titles contain the word Happy?

In [59]:
-- return number of books that contain the word Happy

--SELECT * FROM BooksDB.dbo.books;
SELECT COUNT(title) FROM BooksDB.dbo.books WHERE title LIKE '%happy%';

-- 13 books contain the word 'happy'

(No column name)
13

Question 7: List the books from the top 3 authors from question 1.  If there is more than one author just use the first one. Sort the titles <span style="background-color: rgba(127, 127, 127, 0.1); font-family: -apple-system, BlinkMacSystemFont, sans-serif;">alphabetically by author and then by average_rating, best rated to lowest. Does order matter in sorting?</span>

In [67]:
-- return all books from the top 3 authors, sort by author and rating

SELECT TOP (3) book_id, authors, title, average_rating FROM BooksDB.dbo.books ORDER BY average_rating DESC;

-- the difference in order changes the authors that show in the 'top 3' category

book_id,authors,title,average_rating
24812,Bill Watterson,The Complete Calvin and Hobbes,4.82
17332218,Brandon Sanderson,"Words of Radiance (The Stormlight Archive, #2)",4.77
8,"J.K. Rowling, Mary GrandPré","Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77

Question 8: Take a close look at J.K. Rowling.  Is her top rated book on this list from question 1?  Why might this be? How could we account for this?

> Click here to add your answer. 
> 
> Yes, the book is there since we are ordering the data by the highest rating number in both questions.

Try updating your above query to include all of J.K. Rowling's books.

Are there any other issues?

> Click here to add your answer.

In [68]:
-- Try updating your above query to include all of J.K. Rowling's books

SELECT TOP (3) book_id, authors, title, average_rating FROM BooksDB.dbo.books WHERE authors LIKE '%Rowling%' ORDER BY average_rating DESC;

book_id,authors,title,average_rating
8,"J.K. Rowling, Mary GrandPré","Harry Potter Boxed Set, Books 1-5 (Harry Potter, #1-5)",4.77
862041,J.K. Rowling,"Harry Potter Boxset (Harry Potter, #1-7)",4.74
10,J.K. Rowling,"Harry Potter Collection (Harry Potter, #1-6)",4.73

Question 9: Write a query that returns the number of Authors whose first name is between rock and roll.

In [4]:
-- return number of authors whose first name is between rock and roll

-- SELECT authors FROM BooksDB.dbo.books WHERE authors BETWEEN  'rock' AND 'roll'

## Part 2. Write your own question and write a query to answer it.

Your Question:  Click here to add

Your Question: Click here to add

**Some Question Examples:**

Write a query that returns the longest title?

Which Author has written the most books?  

Top  ten books written the year I was born?